# List Method and Functions 1

In [2]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

#Insertion
fruits.append("kiwi")
print("After appending kiwi: ",fruits)

#Deletion
fruits.insert(1, "grape")
print("After inserting grape at index 1: ", fruits)

#Deletion
fruits.remove("cherry")
print("After removing cherry: ", fruits)

#Print
print("first element: ",fruits[0],"last element: ",fruits[-1])

After appending kiwi:  ['apple', 'banana', 'cherry', 'date', 'elderberry', 'kiwi']
After inserting grape at index 1:  ['apple', 'grape', 'banana', 'cherry', 'date', 'elderberry', 'kiwi']
After removing cherry:  ['apple', 'grape', 'banana', 'date', 'elderberry', 'kiwi']
first element:  apple last element:  kiwi

# List Methods and Functions 2

In [9]:
names_list = ["Alice", "Bob", "Charlie", "David", "Eva","David"]

index1 = names_list.index("Bob")
print("Index of Bob: ",index1)
count1 = names_list.count("David")
print("Count of David: ",count1)

names_list.pop()
print("After removing the last element: ", names_list)

Index of Bob:  1
Count of David:  2
After removing the last element:  ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

# List Comprehension

In [17]:
#Changing all the elements in the list to uppercase
uppercase_names_list = [name.upper() for name in names_list]
print(uppercase_names_list)

#Lowecase
lowercase = [i.lower() for i in names_list]
print(lowercase)

#Multiply the number by 5
number = [2,4,6,8]
multiply_by_five = [num * 5 for num in number]
print(multiply_by_five)

['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVA']
['alice', 'bob', 'charlie', 'david', 'eva']
[10, 20, 30, 40]

# Sets

## Operations

In [18]:
set1 ={1,2,3,4,5,6,7}
set2 ={4,5,6,7,8,9,10}

print("Union:",set1|set2)
print("Intersection:",set1&set2)
print("Difference: ",set1-set2)
print("Symmetric Difference: ",set1^set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: {4, 5, 6, 7}
Difference:  {1, 2, 3}
Symmetric Difference:  {1, 2, 3, 8, 9, 10}

## Methods

In [24]:
set3 = {5,15,20,25}
print("Before: ",set3)
set3.add(30)
print("After: ",set3)
print()
set3.remove(25)
print("After removal of 25: ",set3)
pop_method = set3.pop()
print("Element removed is ",pop_method)
print()
print("Before clearing: ",set3)
set3.clear()
print("After clearing: ", set3)

Before:  {25, 20, 5, 15}
After:  {5, 15, 20, 25, 30}

After removal of 25:  {5, 15, 20, 30}
Element removed is  5

Before clearing:  {15, 20, 30}
After clearing:  set()

# Tuples

Elements inside the tuples cannot be removed or inserted.
Tuples allow duplicate values.
Elements inside tuple cannot be changed.

In [29]:
tuple1 = (2,4,5,6,6,7,8,9)
ans = tuple1.count(6)
print("Occurrences of 6 : ",ans)

tuple2 = (30,29,4,3,100)
sorted_tuple = sorted(tuple2)
print("Sorted tuple: ", sorted_tuple)
print("Minimum value in tuple1 is :", min(tuple1))
print("Maximum value in tuple1 is :", max(tuple1))
print("Sum of all value in tuple1 is :", sum(tuple1))

Occurrences of 6 :  2
Sorted tuple:  [3, 4, 29, 30, 100]
Minimum value in tuple1 is : 2
Maximum value in tuple1 is : 9
Sum of all value in tuple1 is : 47

# Dictionary

In [39]:
#Printing keys and values in dictonary

dict1 = {"name": "Alice","age":20,"city": "New York"}
print("Keys:")
for i in dict1.keys():
    print(i)
print()
print("Values:")
for j in dict1.values():
    print(j)

#appending a new key value pair
dict1["country"]="USA"
print(dict1)

print("Before: popping:",dict1)
dict1.pop("city")
print("After popping: ", dict1)

Keys:
name
age
city

Values:
Alice
20
New York
{'name': 'Alice', 'age': 20, 'city': 'New York', 'country': 'USA'}
Before: popping: {'name': 'Alice', 'age': 20, 'city': 'New York', 'country': 'USA'}
After popping:  {'name': 'Alice', 'age': 20, 'country': 'USA'}

## Merging two dictionaries

In [40]:

more_info ={"height":180,"weight":70}
dict1.update(more_info)
print(dict1)

{'name': 'Alice', 'age': 20, 'country': 'USA', 'height': 180, 'weight': 70}